<!DOCTYPE html>
<html>

<head lang="en">

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Click Speed</title>
	 <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://bootswatch.com/darkly/bootstrap.min.css">

	<!-- Optional theme -->

  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>



</head>



<script>
<%
	var clicked = 0, secondsSpent = 0; cd = 3; cps = 0; username = '';
	var time = setTimeout;

$(document).ready(function() {

	$('#appWrapper').hide();
	$('#go').hide();


//Enter Username, and begin game
$('#submit').click(function() {
	username = $('#username').val();
	console.log(username);

	if(username.length > 13 || username.length < 3) {
		console.log('User name must be shorter than 13 characters, and longer than 3 characters.')
	} else {
	$('#startGame').remove();
	$('#appWrapper').show();
	$('#go').show();
	$('#clicksps').hide(1, 0)
	$('<p id="clicksps1" style="color: black"> 3 </p>').appendTo('#cpswrap')

	$('#go').click(function() {
		secondsSpent = 0;
		clicked = 0;
	});

	//Global Game Timer.
	setTimeout(function() {
			$('#wrapper').remove();
		$('<div class="container" style="text-align: center"><br><br><br><h1 style="color: black">You can click <strong>' + cps + '</strong>cps</h1><div><br><br><br>').appendTo('#appWrapper');
		var player = {
			username: username,
			cps: cps
		};
		player = JSON.stringify(player);
		console.log(player);
		clearInterval(cpstracker);
	}, 13000)

		//countdown to CPS timer
		var countdown = setInterval(function() {
			cd--;
			$('#clicksps1').remove();
			$('<p id="clicksps1" style="color: black">' + cd + '</p>').appendTo('#cpswrap');
			//console.log(cd)
		}, 1000);

		//Starts CPS timer
		var StartClock = function() {setInterval(function() {
		 secondsSpent++; 
		 clearInterval(countdown)
		 $('#tp').remove();
		 $('<span id="tp">' + secondsSpent + '</span>').appendTo('#tpa')
		 $('#clicksps1').remove()
			$('#clicksps').show(1, 1)
		 //console.log(secondsSpent) 
		}, 1000)
	}

		//invokes CPS timer function after 3 seconds of the page loading
		setTimeout(StartClock, 2600);

		var cpstracker = setInterval(function() {
			cps = (Math.round(((clicked / secondsSpent) * 100))) / 100;
		}, 400)

		//click event
		$('.button').click(function() {

			if(secondsSpent == 0) { 
				//console.log('Checked'); 
				clicked == 0;
			} else {	
			clicked ++;
			$('#sp').remove();
			$('#cp').remove();
			$('<span id="cp">' + clicked + '</span>').appendTo('#cpa')
			$('<span id="sp">' + (Math.round(((clicked / secondsSpent) * 100))) / 100 + '</span>').appendTo('#ap');
			//console.log((Math.round(((clicked / secondsSpent) * 100))) / 100)

			}
			})
	}
		})
})
%>
</script>


<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Click Speed Test</a>

    </div>
  </div>
</nav>




<div id="" class="container">
<br>
<br>

<div id="startGame">
<div style="margin: auto">
		<br><br><br>
        <div class="form-group">
           <input type="text" class="form-control" id="username" placeholder="Enter your username">
        </div>
	<div style="text-align: center"> 
        <button type="submit" class="btn btn-default" id="submit">Submit</button>
     </div>
</div>
</div>


<div id="appWrapper">
<div id="wrapper" style="text-align:center">
<div class="button"></div>
<br>
<div style="text-align: center"> 
<div id="cpswrap">
	<p id="clicksps" style="color: black">Clicks Per Second: <span id="ap"><span id="sp">0</span></span></p>
</div>
<p style="color: black">Time: <span id="tpa"><span id="tp">0</span></span> seconds, Clicks: <span id="cpa"><span id="cp">0</span></span></p>

</div>
</div>
</div>
</div>
</div>
<br>
<br>
<br>
<div class="col-md-4 text-center"> 
</div>
<div class="col-md-4 text-center"> 
<a href="" id="go" class="btn btn-warning">Restart</a>
</div>
</div>
<br>
<br>
<br>
<br>

<!-- <footer class="foot">
	<div class="container">
	<hr/>
	<ul style="text-align: right">
		<li>asdfsd</li>
		<li>adsfdsaf</li>

	</ul>
	</div>
</footer> -->




<style>

html, body{
  min-height:100%;
}

body{
  		background-image: -webkit-linear-gradient(top, #edecec, #cecbc9);
			background-image: linear-gradient(top, #edecec, #cecbc9);
}

.buttonHolder{
  margin:80px auto;
  width:400px;
}


		.button{
			background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
			background-image: linear-gradient(top, #f4f1ee, #fff);
			border-radius: 50px;
			box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
			height: 200px;
			margin: auto;
			width: 200px;			
			-webkit-transition: all .1s linear;
			transition: all .1s linear;
		}

		.button:after{
			color:#e9e6e4;
			content: "";
			display: block;
			font-size: 30px;
			height: 30px;
			text-decoration: none;
			text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
			position: absolute;
			width: 30px;
		}

		.button:hover{
			background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
			background-image: linear-gradient(top, #fff, #f4f1ee);
			color:#0088cc;
		}
		

		.button:active{
			background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
			background-image: linear-gradient(top, #efedec, #f7f4f4);
			box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
		}

		.button:active:after{
			color:#dbd2d2;
			text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
		}


.amnt {
	margin: 10px;
	border: red 10px solid;
	padding: 10px;
	width: 100px;
	height: 60px;
	background-color: white;
	text-align: center;
}

#sp { 
	color: black;
 	margin: auto; 
 	padding: 0 0 0 0; 
 	border: 0 0 0 0 
 }

.foot ul {
	display: inline-block;
	list-style-type: none;
	padding: 0px;
}

</style>

</body>
</html>
